<div class="counters">
  <div>
    Times clicked:
    <span class="clicked">{{clicked}}</span>
  </div>
  <div>
    Times resized:
    <span class="resized">{{resized}}</span>
  </div>
  <div>
    {{#if handling}}
      Handling clicks!
    {{else}}
      Not handling clicks!
    {{/if}}
  </div>
</div>
<div class="controls">
  <button {{action 'toggleShow'}} class="show">Toggle show!</button>
  <button {{action 'toggleHandling'}} class="handling">Toggle handling!</button>
  <button {{action 'triggerResize'}} class="resize">Trigger resize!</button>
</div>
{{#if show}}
  {{dummy-component clicked=(mut clicked) resized=(mut resized) handling=handling}}
{{/if}}
